#box1{
	width: 80%;
	height: 80px;
	background: green;
	margin: auto;
}
#box2{
	width: 80%;
	height: 80px;
	background: salmon;
	margin: auto;
}
#box3{
	width: 80%;
	height: 80px;
	background: gray;
	margin: auto;
}
